{
    "plugins":
    [
        ["@babel/plugin-proposal-pipeline-operator",
            {
                "proposal" : "hack",
                "topicToken": "%"
            }],
        ["@babel/plugin-proposal-do-expressions"]
    ]
}
